body,
ul,
li {
    font-family: 'Comic Sans MS', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #2c3e50;
    text-align: center;
    position: relative;
    width: 100%;
    padding: 20px;
}

.title {
    color: white;
    width: 100%;
    background-color: #34495e;
    display: inline-block;
    padding: 10px 0px;
    position: sticky;
    top: 0px;
    font-family: 'Comic Sans MS', sans-serif;
}

.title h2 {
    text-shadow: 1px 1px #2ab53a;
}

.banner img {
    margin: 0;
    width: 100%;
}

.newItem {
    padding: 30px 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    background-color: #ecf0f1;
}

.newItem table {
    border-collapse: collapse;
    border: none;
    background-color: #ecf0f1;
    width: 100%;
}

.newItem th,
.newItem td {
    background-color: #ffffff;
    padding: 10px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid #95a5a6;
}

.newItem th {
    background-color: #3498db;
    color: white;
    text-align: center;
}

.newItem td input,
.newItem td select {
    border: 2px dashed #3498db;
    outline: none;
    color: black;
    padding: 5px;
    width: 100%;
    background-color: #f5f5f5;
}

.addBtn {
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    border: none;
}

.addBtn:hover {
    background-color: #2ab53a;
    color: white;
}

.items {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.items table,
.items th,
.items td {
    border: 1px solid #7f8c8d;
    border-collapse: collapse;
    padding: 12px;
    font-size: 18px;
    transition: 0.2s;
    text-align: start;
    width: 100%;
}

.items table {
    background-color: white;
    width: 80%;
}

.items tr:nth-child(odd) {
    background-color: #ecf0f1;
}

.items th {
    background-color: #3498db;
    color: white;
    text-align: center;
}

.items tr:hover {
    background: #dfe6e9;
}

.close:hover,
.update:hover {
    color: #e74c3c;
    font-weight: bolder;
}